:root {
  --brand-color: #4d5ae5;
  --active-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: rgba(46, 47, 66, 0.4);
  --hero-background-color: rgba(46, 47, 66, 0.7);
  --title-white-color: #ffffff;
  --section-background-color: #e5e5e5;
}
/*  main-text-color: --text-color: #434455;
    headline-color: --dark-color: #2e2f42;
    brand-color: --brand-color: #4d5ae5;
    hover-focus-current color: --active-color: #404bbf;
    section-background-color: --dark-color: #2e2f42;
    
 */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--text-color);
  background-color: var(--title-white-color);
}
.container {
  width: 100%;
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px solid rgb(255, 97, 6);
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ------------- INDEX.HTML ------------- */

/* ------------- HEADER ------------- */
.header {
  border-bottom: 1px solid var(--accent-color);
}
.header-container {
  display: flex;
  align-items: center;
}
/* ------------- NAV ------------- */
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--dark-color);
}
.logo-accent {
  color: var(--brand-color);
}

.header-list {
  display: flex;
  align-items: center;
  margin-right: auto;
  /* gap: 40px; */
}

.header-list :not(:last-child) {
  margin-right: 40px;
}

.header-list-link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;

  color: var(--dark-color);
}

.header-list-link:hover,
.header-list-link:focus,
.header-list-link.current {
  color: var(--active-color);
}

/* ------------- CONTACTS ------------- */
.header-contacts {
  display: flex;
  align-items: center;
  /* gap: 40px; */
}

.header-contacts :not(:last-child) {
  margin-right: 40px;
}

.header-contacts-item {
  padding-top: 24px;
  padding-bottom: 24px;
  font-style: normal;

  color: inherit;
}

.header-contacts-item:hover,
.header-contacts-item:focus {
  color: var(--active-color);
}

/* ------------- HERO ------------- */

.hero {
  background-color: var(--dark-color);
}
.hero-section {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.hero-title {
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 48px;
  max-width: 494px;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  color: var(--title-white-color);
}
.hero-btn {
  margin-bottom: 188px;
  padding: 16px 32px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;

  color: var(--title-white-color);
  background-color: var(--brand-color);
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  border-radius: 4px;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-color);
}

/* ------------- FEATURES ------------- */
/* .features {
  background-color: var(--section-background-color);
} */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.features-list > li {
  max-width: 264px;
}
.features-list :not(:last-child) {
  margin-right: 24px;
}

.list-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--dark-color);
}

/* ------------- DESCRIPTION ------------- */
/* .description {
  background-color: var(--section-background-color);
} */
.section-title {
  display: block;
  margin: 0 auto;
  /* margin-top: 120px; */
  margin-bottom: 72px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;

  color: var(--dark-color);
}

.description-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 24px; */
}

.description-list :not(:last-child) {
  margin-right: 24px;
}

/* ------------- TEAM ------------- */
.team {
  background-color: var(--light-color);
}

.team-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 24px; */
}

.team-list > li {
  display: block;
  text-align: center;
  margin-right: 24px;
}
.team-list :last-child {
  margin-right: 0;
}
.team-list-item > img {
  margin-bottom: 32px;
}

.team-list-item > p {
  margin-bottom: 32px;
}
/* ------------- FOOTER ------------- */

.footer {
  background-color: var(--dark-color);
}

/* ------------- LOGO FOOTER ------------- */

.footer > div {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--light-color);
}
.logo-accent {
  color: var(--brand-color);
}

.footer-text {
  max-width: 264px;
  color: var(--accent-color);
}

/* ------------- PORTFOLIO.HTML ------------- */

/* ------------- FILTER ------------- */

.filter-btn {
  font-family: inherit;
  /* font-style: normal; */
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;

  letter-spacing: 0.04em;

  color: var(--brand-color);
  background-color: var(--light-color);

  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--title-white-color);
  background-color: var(--active-color);
}

.filter-link {
  color: var(--text-color);
}
